<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:改mapper.xml映射文件的唯一标识并且必须和数据处理层的接口的路径相同-->
<mapper namespace="edu.nyit.apiproxy.dao.ApiMapper">

    <resultMap id="blockList" type="edu.nyit.apiproxy.entity.BlockList">
        <id column="id" property="id" javaType="int" ></id>
        <result column="keywords" property="keywords" javaType="String" ></result>
        <result column="category_id" property="categoryId" javaType="int" ></result>
    </resultMap>

    <resultMap id="sourceMatch" type="edu.nyit.apiproxy.entity.SourceMatch">
        <id column="id" property="id" javaType="int"></id>
        <result column="service_name" property="serviceName" javaType="String"></result>
        <result column="service_ip" property="serviceIp" javaType="String"></result>
        <result column="service_port" property="servicePort" javaType="String"></result>
    </resultMap>

    <select id="queryAllBlockList" resultMap="blockList">
        select * from  blocklist;
    </select>

    <select id="selectByServiceName" parameterType="String" resultMap="sourceMatch">
        select  * from source_match a where a.service_name = #{service_name};
    </select>

</mapper>